
.container .new-tweet {
  background-color: #eee;
/*  margin: auto;*/
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 5px;
  border: 1px solid #cecdcc;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

section.new-tweet h2:after {
  content:' ';
  display:block;
  border: 0.5px solid black;
}

.new-tweet textarea {
  width: 100%;
  padding: 0.4em;
}

.new-tweet .counter {
  float: right;
  padding-right: 0.5em;
  font-style: italic;
  font-weight: 505;
  font-size: 0.8em;
  line-height: 200%;
}